{% extends 'base_admin.html' %} {% block content %}
<h2>Lab Tests</h2>
<a href="{% url 'lab_test_create' %}">Add New Lab Test</a>
<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Price (ETB)</th>
    <th>Actions</th>
  </tr>
  {% for test in tests %}
  <tr>
    <td>{{ test.name }}</td>
    <td>{{ test.price }}</td>
    <td><a href="{% url 'lab_test_edit' test.id %}">Edit</a></td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="3">No tests available.</td>
  </tr>
  {% endfor %}
</table>
{%endblock%}
